TOTP_SECRET=GENERATE_A_NEW_BASE32_SECRET
DOWNLOAD_PIN=SET_A_NEW_PIN
CSRF_SECRET=GENERATE_32_RANDOM_BYTES
IP_HASH_SECRET=GENERATE_32_RANDOM_BYTES
IDEMPOTENCY_SECRET=GENERATE_32_RANDOM_BYTES
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
STAGING_GATE_SECRET=
